{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>
    <form action="/register" method="post">
        <input name="name" autocomplete="off" autofocus type="text" placeholder="Name">
        <input name="email" autocomplete="off" autofocus type="email" placeholder="Email">
            {% for sport in sports %}
                <input name="sport" type="radio" value="{{ sport }}"> {{ sport }}
            {% endfor %}
        <input type="submit" value="Register">
    </form>

{% endblock %}